  body {
    background-color: white;
    padding: 40px;
  }
  
  .block1 { background-color:#0d6efd; }
  .block2 { background-color:#6610f2; }
  .block3 { background-color:#6f42c1; }
  .block4 { background-color:#d63384; }
  .block5 { background-color:#dc3545; }
  .block6 { background-color:#fd7e14; }
  .block7 { background-color:#ffc107; }
  .block8 { background-color:#198754; }
  .block9 { background-color:#20c997; }
  .block10 { background-color:#0dcaf0; }

  @media (min-width: 576px) {
    body::before {
      content: "SM";
    }
  }
  
  @media (min-width: 768px) {
    body::before {
      content: "MD";
    }
  }
  
  @media (min-width: 992px) {
    body::before {
      content: "LG";
    }
  }
  
  @media (min-width: 1200px) {
    body::before {
      content: "XL";
    }
  }
  
  @media (min-width: 1400px) {
    body::before {
      content: "XXL";
    }
  }